In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('../../data/train.csv')

In [34]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
df = df.dropna()

In [36]:
X = df.drop(['Survived'], axis=1)
y = df['Survived']

In [37]:
X.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [52]:
y.dtypes

dtype('int64')

In [65]:
from collections import Counter

counter = Counter(y)
counter[1]/counter.total()

0.6721311475409836

In [38]:
X = X.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [39]:
X['Sex'], sex_map = pd.factorize(X['Sex'])
X['Embarked'], embarked_map = pd.factorize(X['Embarked'])

In [40]:
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
1              2       1    0  38.0      1      0  71.2833         0
3              4       1    0  35.0      1      0  53.1000         1
6              7       1    1  54.0      0      0  51.8625         1
10            11       3    0   4.0      1      1  16.7000         1
11            12       1    0  58.0      0      0  26.5500         1
..           ...     ...  ...   ...    ...    ...      ...       ...
871          872       1    0  47.0      1      1  52.5542         1
872          873       1    1  33.0      0      0   5.0000         1
879          880       1    0  56.0      0      1  83.1583         0
887          888       1    0  19.0      0      0  30.0000         1
889          890       1    1  26.0      0      0  30.0000         0

[183 rows x 8 columns]

In [59]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values)

In [60]:
svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
accuracy_score(y_test, y_pred)

0.6956521739130435